<IfModule mod_rewrite.c>
	Options -Indexes
	RewriteEngine On

	# Redirect /test to our API handler
	# test@domain goes to domain/test
	RewriteRule ^test(.*)$ /api.php [L]

	# Proxy up to go app so we can see when up
	RewriteRule ^up(.*)$ http://localhost:8111/$1 [P,L]
</IfModule>

